/*Estilos de proyecto*/
/* 
elemento {
    propiedad: valor;
}
class va con un .
ID va con # adelante

-----COLORES------
#F1EAFF (CLARO)
#E5D4FF
#DCBFFF
#D0A2F7 (OSCURO)

 */
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;600&display=swap');


/* font-family: 'heebo' , sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Heebo', sans-serif;

}

body{
    background-image: url(../img/paisley.webp);
}
/*----------------------------------------------------- HEADER -----------------------------------------------------*/

header img {

    height: 80px;
    width: 80px;
    margin-top: 1.5%;
    margin-left: 2px;
}


header {
    background-color: #DCBFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, #edb4eb 0%, #f4b0dc 49%, #f791e4 51%, #ffd8ff 100%);
    position: sticky;
    top: 0;
}

/* -----------------------------------------------------NAV----------------------------------------------------- */
.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.10);
    padding: 8px; 
    
}

.nav-item {
    padding: 15px;

}
.navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
}

/* -----------------------------------------------------banner----------------------------------------------------- */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    text-align: center;


}

.banner h1 {
    color: #ccc;
    text-shadow: 4px 4px 2px rgba(32, 10, 10, 0.6);
    margin: 0px;
    padding-top: 20px;
}

.banner h2 {
    color: #ccc;
    text-shadow: 4px 4px 2px rgba(32, 10, 10, 0.6);
    padding-top: 20px;
}

/* -----------------------------------------------------SECCION PRODUCTOS----------------------------------------------------- */
main h2{
    text-align: center;
    
}

.MuestraProductos {
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.MuestraProductos div {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(245, 139, 139);
    background-color: #f791e485;
}

.MuestraProductos div img {
    width: 100%;

}

.img-container {
    width: 200px; 
    height: 200px; 
  }
/* -----------------------------------------------------PRODUCTOS----------------------------------------------------- */
.piedras img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;

}

.sahumerios img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

.colgantes img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

/* -----------------------------------------------------CAROUSEL----------------------------------------------------- */
.carousel img{
  width: 500px;
  height: 300px;
  margin-right: 5px;
  margin-left: 5px;
}
/* -----------------------------------------------------CONTACTENOS----------------------------------------------------*/
.formulario {
    
    text-align: center;
    height: 70%;
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(59, 35, 35);
    background-color: #970a7d85;
    border-radius: 10px;
   
}

.OtrasVias{
    height: 70%;
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(59, 35, 35);
    background-color: #970a7d85;
    border-radius: 10px; 
}


 /* -----------------------------------------------------FOOTER----------------------------------------------------*/
footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.logofooter{
    background-color: blue;
    height: 60px;
    width: 60px;
    margin-top: 2px;
}

.logofooter a{
    height: 60px;
    width: 60px;
    padding: auto;
}


footer img {
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

footer p {
    color: rgb(5, 6, 6);
text-align: center;    
    padding-top: 30px;
}



/*--------------------------------------------- Regla media query-------------------------------------- */
/*---------------------------------------------   Mobile  --------------------------------------------- */
@media only screen and (max-width: 480px) {
   header{
    flex-direction: column;
    
}
 .izquierda{
    display: none;
}
header img{
    margin-left: 40%;
}

}

.MuestraProductos div{
  width: auto;
}


/* ---------------------------------------------tablet ---------------------------------------------*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body{
        background-color: yellow;
    }
}

/* ---------------------------------------------PC--------------------------------------------- */
@media only screen and (min-width: 961px) {
    body{
        background-color: green;
    }
}

