// variables
$color-oscuro:#970a7d85;
$color-bordes:1px solid rgb(59, 35, 35);

// mixin
@mixin img-productos($ancho, $alto, $marg-interno, $marg-externo) {
    width: $ancho;
    height: $alto;
    padding: $marg-interno;
    margin: $marg-externo;
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;600&display=swap');
/* font-family: 'heebo' , sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Heebo', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(../img/paisley.webp);
}