/*--------------------------------------------- Regla media query-------------------------------------- */
/*---------------------------------------------   Mobile  --------------------------------------------- */
/* @media only screen and (max-width: 480px) {
} */

@media only screen and (min-width: 360px) and (max-width: 600px) {
   html, body {
       overflow-x: hidden;
   }

    img.img-fluid.logo-grande {
        height: 50px;
        width: 50px;
    }

   

    main p {
        margin: 5%;
    }


    .descripcion {
        margin-top: 5%;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    .preguntas {
        margin: 5%;
       
    }


    .MuestraProductos div {
        width: auto;
    }

    .container-muestrario {
         margin-bottom: 2px;
         
    }

    

    .carousel img {
        width: 130px;
        height: 140px;
        margin-right: 1%;
        margin-left: 1%;
    }

    .d-flex {
        justify-content: space-evenly;
    }  
}

/* ---------------------------------------------tablet ---------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 960px) {
    .carousel img {
    width: 180px;
    height: 180px;
    margin-right: 1%;
    margin-left: 1%;

}
.d-flex {
    justify-content: space-evenly;
}
}


